
 h1 {
    text-align: center;
    margin-top: 20px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.form {
    text-align: center;
    margin-top: 50px;
}

#username:focus,
#password:focus,
#isAustralian:focus,
#reason:focus {
     border-color: #FF6347; 
     background-color: #FFEBE8; 
    }


select[id="gender"] {
    background-color: #d3d3d3; 
}